@font-face {
  font-family: "Disney";
  src: url("../../media/fonts/common/disney.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LetterGothic-BoldItalic";
  src: url("../../media/fonts/common/LetterGothic-BolIta.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LetterGothic-Bold";
  src: url("../../media/fonts/common/LetterGothic-Bol.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LetterGothic-Italic";
  src: url("../../media/fonts/common/LetterGothic-Ita.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LetterGothic-Regular";
  src: url("../../media/fonts/common/LetterGothic-Reg.ttf");
  font-weight: 400;
  font-style: normal;
}
